:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#header {
    border: 2px solid black;
    border-radius: 7px;
    width: fit-content;
    margin: 15px auto;
    padding: 1px 5px;
}

.title {
    text-align: center;
    margin: auto;
}

.form-container {
    margin: 30px auto;
}

.main-form {
    display: flex;
    flex-direction: column;
}

#grid {
    display: grid;
    margin: auto;
    width: fit-content;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    border: 2px solid black;
    border-radius: 3px;
}

.grid-cell {
    user-select: none;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding: 5px 0;
    color: #fff;
}

.footer-content {
    margin: auto;
    color: #fff;
    text-align: center;
}